.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  display: flex;
}
.banner img {
  width: 100%;
  object-fit: cover;
  background-color: 0.3;
}

.container-banner h1 {
  color: white;
  text-shadow: 5px 5x 20px rgba(8, 8, 8, 0.3);
  margin-left: 20px;
}

.container-banner p {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 5px 5x 20px rgba(8, 8, 8, 0.3);
  margin-left: 20px;
}

.banner a:hover {
  background-color:blueviolet;
}
